@import 'utils';

.editor-template {
    .panes {
        height: calc(100vh - 4rem);
        display: flex;
        position: relative;

        .pane {
            display: flex;
            min-width: 0;
            overflow: auto
        }

        .separator {
            width: 1rem;
            height: 100%;
            position: absolute;
            transform: translate(-50%); //자신의 50%만큼 왼쪽으로 이동..
            cursor: col-resize;
            // background: black;
        }


        @include media("<medium") {
            .editor {
                flex: 1 !important;
            }

            .preview, .separator {
                display: none;
            }
        }
    }
}