@import 'utils';

.post-list {
    .post-item {
        padding: 1.5rem;
        transition: all .15s ease-in;

        h2 {
            font-size: 2rem;
            font-weight: 400;
            margin: 0;
            color: $oc-gray-9;
            
            a {
                transition: all .15s ease-in; // 스타일바뀔 때 애니메이션효과
                border-bottom: 1px solid transparent;
            }

            a:hover {
                color: $oc-blue-6;
                border-bottom: 1px solid $oc-blue-6;
            }
        }

        .date {
            color: $oc-gray-5;
            font-size: .8rem;
        }

        p {
            color: $oc-gray-7;
            font-weight: 300;
        }

        .tags {
            font-size: .85rem;
            color: $oc-blue-6;

            a {
                &:hover {
                    color: $oc-blue-5;
                    text-decoration: underline;
                }
            }

            a + a {
                margin-left: .25rem;
            }
        }

        &:hover {
            background: rgba($oc-blue-6, .05);
        }
    }

    .post-item + .post-item {
        border-top: 1px solid $oc-gray-3;
    }
}
